@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the entire scrollbar */
*::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
    height: 6px;
}

/* Style the scrollbar thumb (the bar that indicates scrolling level) */
*::-webkit-scrollbar-thumb {
    background-color: #888; /* Change to your desired color */
    border-radius: 5px; /* Add rounded corners to the thumb */
}

/* Style the scrollbar track (the area behind the thumb) */
*::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* Change to your desired color */
}

/* Optional: Add smooth scrolling behavior */
* {
    scroll-behavior: smooth;
}

.menu::-webkit-scrollba,.messages::-webkit-scrollbar{
    display: none;
}